.nav{ 
    border: 0px solid black;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.8);
    

}


.ele{
    display: flex;
}

.head{
    margin-left: 200px;
}


.item{
    display: flex;
    margin-left: 470px;
    margin-top: 8px;
}

.item p{
    padding-left: 15px;
}

#port{
    
    background-color:rgba(200, 240, 250, 0.8);
    box-shadow: 0 0 30px rgba(200, 240, 250, 0.2);
    width:  70px;
    border-radius: 10px;
    color: blue;
}

span{
    color: blue;
}


.line{
    display: flex;
    margin-left: 550px;
}

.line p{
    padding-left: 15px;
}

.img{
    margin-left: 180px;
}

.img img{
    padding-left: 20px;
    size: 40px;
}