body{
    background: linear-gradient(to left, #ff9999 0%, #ccffff 100%);
}
.main{
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    width: 50%;
    height: 300px;
    margin-left: 340px;
}
.center{
    display: flex;
    align-items: center;
}

.box1{
    margin-left: 8px;
    font-size: 18px;
    margin-top: 25px;
}

.box2{
    margin-left: 10px;
    margin-top: 15px;
    font-size: 18px;

}

#text{
    font-size: 15px;
    width: 330px;
}

#name{
    font-size: 20px;
    radius: 3px;
    border-color: lightgray;
}


#btn{
    background-color: blue;
    border-color: blue;
    border-radius: 15px;
    margin-left: 170px;
    color: white;
    margin-top: 10px;
    width: 300px;
    height: 35px;
}

input::placeholder{
    color: grey;
    font-size: 15px;
}

input[type="text"]{
    color: lightgray;
    font-size: 10px;
    border-color: lightgrey;
    border-radius: 5px;
}


textarea{
    border-radius: 5px;
    border-color: lightgray;
}